---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Listen. Think. Design. 
                  <span class="text-primary dark:text-white">Refine.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">We listen to your needs and design thoughtfully refined solutions. Empowering your business through cloud-based ERP solutions, crafted with care.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6"> 




                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left p-4">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The lowest price</h6>
                        <p class="mt-2 text-gray-500">At our company, we pride ourselves on offering the lowest prices in the market without compromising on quality. We understand that cost can be a major concern for our customers, which is why we work hard to keep our prices competitive. Our goal is to provide our customers with the best value for their money, and we do this by constantly reviewing our prices and negotiating with our suppliers to ensure that we are getting the best deals. We believe that by offering the lowest prices, we can help our customers save money and grow their business. And that is our main focus.</p>
                    </div>
                    <div class="text-left p-4">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The fastest on the market</h6>
                        <p class="mt-2 text-gray-500"> We understand the importance of speed and efficiency. We strive to work as fast as possible without compromising on quality. Our team is dedicated to providing our customers with quick and reliable service. We know that time is of the essence, which is why we make it a priority to deliver our products and services as quickly as possible. Our products are also designed to be fast, efficient and easy to use, so our customers can get things done quickly. We understand that in today's fast-paced business environment, time is a valuable commodity, and we are committed to helping our customers make the most of it. We are confident that our speed and efficiency will help our customers stay ahead of the competition.</p>
                    </div>
                    <div class="text-left p-4">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most loved</h6>
                        <p class="mt-2 text-gray-500">At our company, we take great pride in the satisfaction of our customers. We believe that happy customers are the key to our success, and we work hard to ensure that every customer is completely satisfied with our products and services. Our team is dedicated to providing excellent customer service and going above and beyond to meet the needs of our customers. We are constantly seeking feedback and making improvements to ensure that we are meeting the expectations of our customers. Our products are also designed to be user-friendly and to provide the best possible experience. As a result, we have a loyal customer base that loves our products and services. We are proud to say that we have some of the most satisfied and loyal customers in the industry and we work hard to keep it that way.</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div class="flex p-4 grayscale transition duration-200 hover:grayscale-0 items-center">
                    <img src="./images/clients/react.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    <p>React</p>
                    <!-- TODO Text styling -->
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/nextjs.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/tailwind.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="flex p-4 grayscale transition duration-200 hover:grayscale-0 items-center">
                    <img src="./images/clients/node.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    <p>Node JS</p>
                    <!-- TODO Text styling -->
                  </div>
                  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/netflix.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
              </div>
        </div>
    </Container>
</div>